name: code-check

on:
  push:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

  pull_request:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

jobs:
  code-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to vrelease-js
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.14.0

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Cache pnpm store
        id: cache-node-modules
        uses: actions/cache@v5.0.3
        with:
          path: |
            ./node_modules
            ~/.pnpm-store
          key: ${{ env.preffix }}-cache-${{ env.cache-name }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ env.preffix }}-cache-${{ env.cache-name }}-
            ${{ env.preffix }}-cache-
            ${{ env.preffix }}-
        env:
          cache-name: code-check
          preffix: ${{ runner.os }}-node

      - name: Install dependencies
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: pnpm i

      - name: Check lint
        run: pnpm run check:lint

      - name: Run unit tests
        run: pnpm test

      - name: Upload coverage results
        uses: codecov/codecov-action@v5
        with:
          verbose: true
