name: run-test

on:
  push:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

  pull_request:
    branches: '*'
    tags: '*'
    paths-ignore: '**.md'

jobs:
  run-test:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [18.x, 20.x, 22.x, 24.x]

    steps:
      - name: Checkout to vrelease-js
        uses: actions/checkout@v6

      - name: Configure git
        run: |
          git config --global user.email "hi@caian.org"
          git config --global user.name "Caian Ertl"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.14.0

      - name: Setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Run pre-release steps
        run: pnpm run prerelease

      - name: Build package
        run: |
          pnpm run build:js
          npm pack

      - name: Install vrelease
        run: npm i -g vrelease-bin-*.tgz

      - name: Run vrelease (version)
        run: vrelease -v

      - name: Run vrelease (help)
        run: vrelease -h
